@import "base.scss";

//  _____                 _                                 _             _
// / ____|               | |                               | |           | |
// | |       _   _   ___  | |_    ___    _ __ ___      ___  | |_   _   _  | |   ___   ___
// | |      | | | | / __| | __|  / _ \  | '_ ` _ \    / __| | __| | | | | | |  / _ \ / __|
// | |____  | |_| | \__ \ | |_  | (_) | | | | | | |   \__ \ | |_  | |_| | | | |  __/ \__ \
// \_____|  \__,_| |___/  \__|  \___/  |_| |_| |_|   |___/  \__|  \__, | |_|  \___| |___/
//                                                                 __/ |
//                                                                |___/

$lightest: #ccc;

.row {
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
}

.hc-graphic-wrapper {
    margin: 0 auto 8rem;
    max-width: 1200px;
    width: 90%;
}

.graphic-head {
    @extend .reset;
    font-size: 2rem;
    font-family: $sans;
    font-weight: bold !important;
    margin-bottom: 1rem;

    @media (max-width: 768px) {
        font-size: 1.6rem;
    }
}

.graphic-deck {
    @extend .reset;
    font-size: 1.8rem;
    font-family: $sans;
    margin: inherit;
    max-width: 1200px;
    margin-bottom: 4rem;

    @media (max-width: 768px) {
        font-size: 1.6rem;
    }
}

.hc-graphic {
    height: auto;
    position: relative;
}

.hc-col-head {
    text-align: center;
    font-size: 1.5rem;
    font-family: $sans;
    text-transform: uppercase;
    font-weight: bold;
    color: #222;
    margin-bottom: 0rem;
    line-height: 2rem;
    margin-top: 1rem;

    span {
        color: darken(red, 10%);
        font-size: 2.5rem;
    }
}

.hc-graphic-col {
    display: inline-block;
    float: left;
    width: calc(100% / 3);
    height: 100%;
    overflow: auto;
    margin-bottom: 6rem;

    @media (max-width: 768px) {
        width: 100%;
        padding: 3rem;
        margin-bottom: 0;

        &:not(:last-of-type) {
            border-bottom: 0.5px solid $lightest;
        }

        &:last-of-type {
            margin-bottom: 6rem;
        }
    }
}

#hc-col-no {
    &:before {
        width: calc(100% / 3);
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        z-index: -1;
        left: 0;
        border-right: 0.5px solid $lightest;

        @media (max-width: 768px) {
            border-right: none;
        }
    }
}

#hc-col-unclear {
    &:before {
        width: calc(100% / 3);
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        z-index: -1;
        left: calc(0 + 33%);
        border-right: 0.5px solid $lightest;

        @media (max-width: 768px) {
            border-right: none;
        }
    }
}

#hc-col-yes {
    &:before {
        width: calc(100% / 3);
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        z-index: -1;
        right: 0;
    }
}

.hc-square-wrapper {
    // position: relative;
    margin: 0 auto;
    width: 90%;
    padding: 1.5rem 0.4rem;
    display: block;
    overflow: auto;

    @media (max-width: 768px) {
        padding-bottom: 0;
    }
}

.hc-square {
    width: calc(100% / 8 - 0.4rem);
    background: $lightest;
    display: inline-block;
    float: left;
    margin: 0.2rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #ccc;
    // background-image: url('http://media.mcclatchydc.com/static/graphics/20170314-AHCARepublicanOpinions/static/images/silhouette.jpg');
}

#hc-tooltip {
    height: auto;
    width: 250px;
    position: absolute;
    background: white;
    z-index: 1000;
    // border: 0.5px solid $lightest;
    webkit-box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.32);
    -moz-box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.32);
    box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.32);

    @media (max-width: 768px) {
        width: 200px;
    }
}

.hc-headshot {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    display: block;
    margin: 2rem auto;
    float: none;
    margin: 0;
    height: 215px;
    background-color: #ccc;
    background-image: url('http://media.mcclatchydc.com/static/graphics/20170314-AHCARepublicanOpinions/static/images/silhouette.jpg');

    @media (max-width: 768px) {
        height: 170px;
    }
}

.hc-tooltip-head {
    margin: 2rem 2rem 1rem;
    font-weight: bold;

    @media (max-width: 768px) {
        display: block;
        float: none;
    }
}

.hc-tooltip-details {
    font-size: 1.3rem;
    margin: 0 2rem 2rem;
    line-height: 1.6rem;
}

// custom background images for missing HOR members
#J000289 {
    background-image: url('http://media.mcclatchydc.com/static/graphics/20170314-AHCARepublicanOpinions/static/images/J000289.jpg');
}
#C001053 {
    background-image: url('http://media.mcclatchydc.com/static/graphics/20170314-AHCARepublicanOpinions/static/images/C001053.jpg');
}
#R000583 {
    background-image: url('http://media.mcclatchydc.com/static/graphics/20170314-AHCARepublicanOpinions/static/images/R000583.jpg');
}
#R000582 {
    background-image: url('http://media.mcclatchydc.com/static/graphics/20170314-AHCARepublicanOpinions/static/images/R000582.jpg');
}
#J000290 {
    background-image: url('http://media.mcclatchydc.com/static/graphics/20170314-AHCARepublicanOpinions/static/images/J000290.jpg');
}
#J000299 {
    background-image: url('http://media.mcclatchydc.com/static/graphics/20170314-AHCARepublicanOpinions/static/images/J000299.jpg') !important;
}
#T000478 {
    background-image: url('http://media.mcclatchydc.com/static/graphics/20170314-AHCARepublicanOpinions/static/images/T000478.jpg');
}
#L000587 {
    background-image: url('http://media.mcclatchydc.com/static/graphics/20170314-AHCARepublicanOpinions/static/images/L000587.jpg');
}
#R000607 {
    background-image: url('http://media.mcclatchydc.com/static/graphics/20170314-AHCARepublicanOpinions/static/images/R000607.jpg');
}
